<mat-toolbar color="primary">
  <a mat-button class="brand-logo" routerLink="">Todo application</a>
  <span class="spacer"></span>
  <button *ngIf="!isAutorities(); else out" mat-icon-button matTooltip="Login" matTooltipPosition="after" matTooltipClass="tooltip-options" routerLink="login"><mat-icon>login</mat-icon></button>
  <ng-template #out>
    <button mat-icon-button matTooltip="Logout" matTooltipPosition="after" matTooltipClass="tooltip-options" routerLink="logout"><mat-icon>logout</mat-icon></button>
  </ng-template>
</mat-toolbar>