.container {
  padding: 40px 20px;
}
.divider {
  margin-top: 20px;;
}
.card-content {
  display: flex;
}
.card-image {
  margin-right: 1.5rem;
  border-radius: 1rem;
}
.card-text {
  width: 70%;
}
.card-footer {
  background-color: #afafff;
}