.NgxEditor__Wrapper {
  margin-top: 4em;
  border: none;
}
mat-card-title {
  text-align: center;
}
mat-card-content,
mat-form-field {
  width: 100%;
}
.form-field {
  margin: auto;
  margin-bottom: 1em;
}
button {
  margin-left: 48%;
  padding: 0 4em;
}
