section {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100vh; 
  background-color: #2626262f;

  visibility: hidden;
  opacity: 0;

  &.open {
    visibility: inherit;
    opacity: 1;
  }
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
}
mat-card {
  margin: 4em 2em;
}
.NgxEditor__Wrapper {
  margin-top: 1em;
  border: none;
}
mat-card-title {
  text-align: center;
}
mat-card-content,
mat-form-field {
  width: 100%;
}
.form-field {
  margin: auto;
  margin-bottom: 1em;
}
button {
  margin-left: 48%;
  padding: 0 4em;
}
