<table mat-table [dataSource]="dataSource" class="mat-elevation-z2" aria-hidden="true">
  
  <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
    <th mat-header-cell *matHeaderCellDef scope="col"><span *ngIf="col !== 'button'">{{ col }}</span></th>
    <td mat-cell *matCellDef="let element">
      <span *ngIf="col === 'createOn' || col === 'updateOn'; else data;">{{ element[col] | date: 'longDate' }} {{ element[col] | date: 'mediumTime' }}</span>
      <ng-template #data>
        <span *ngIf="col !== 'button'">{{ element[col] }}</span>
        <button *ngIf="col === 'button'" mat-icon-button (click)="edit(element._id)"><mat-icon>edit</mat-icon></button>
      </ng-template>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>