.container {
  padding: 4em 2em;
}
.divider {
  margin-top: 20px;;
}
.post-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}
.card-content {
  display: flex;
}
.card-image {
  margin-right: 1.5rem;
  border-radius: 1rem;
}
.card-text {
  width: 70%;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  background-color: #78909C;

  & .date-group {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & button {
    padding: 0;
  }
}
