<div class="container">
  <mat-card *ngIf="post" class="mat-elevation-z4">
    <mat-card-header>
      <img mat-card-avatar src="https://thispersondoesnotexist.com/image" alt="avatar">
      <mat-card-title>{{ post.username }}</mat-card-title>
      <mat-card-subtitle>Backend&Frontend</mat-card-subtitle>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content class="divider">
      <div class="card-content">
        <img mat-card-lg-image class="card-image" src="https://thispersondoesnotexist.com/image" alt="picture">
        <p class="card-text">
          {{ post.title | uppercase }}<br><br>
          {{ post.content }}
        </p>
      </div>
    </mat-card-content>
    <mat-card-footer class="card-footer">
      <span>Created: {{ post.createOn | date }}    </span>
      <span>    Last updated: {{ post.updateOn | date }}</span>
      <button mat-button>MESSAGE ME</button>
    </mat-card-footer>
  </mat-card>
</div>