section {
  position: absolute; 
  top: 0; 
  left: 0; 
  width: 100%; 
  height: 100vh; 
  background-color: #2626262f;

  visibility: hidden;
  opacity: 0;

  &.open {
    visibility: inherit;
    opacity: 1;
  }
}
.close-btn {
  position: absolute;
  top: 0;
  right: 0;
}
mat-card {
  margin: 4em 2em;
}
mat-card-content {
  width: 100%;
}
.divider {
  margin-top: 20px;;
}
.post-title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1em;
}
.card-content {
  display: flex;
}
.card-image {
  margin-right: 1.5rem;
  border-radius: 1rem;
}
.card-text {
  width: 70%;
}
.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  background-color: #78909C;

  & .date-group {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & button {
    padding: 0;
  }
}
