<div class="container">
  <mat-card class="card-wrapper">
    <mat-card-title class="form-title">Edit User Form</mat-card-title>
    <form *ngIf="editedForm" [formGroup]="editedForm" (submit)="onSubmit()">
      <!-- choose the role -->
      <mat-radio-group class="radio-buttons-group" name="role" formControlName="role">
        <label class="radio-label">Select Your Role: </label>
        <mat-radio-button class="radio-button" value="admin">
          Admin
        </mat-radio-button>
        <mat-radio-button class="radio-button" value="mod">
          Moderator
        </mat-radio-button>
        <mat-radio-button class="radio-button" value="user">
          User
        </mat-radio-button>
      </mat-radio-group>
      <br><br>
      <!-- full name -->
      <mat-form-field class="field-wrapper">
        <mat-label>Full Name </mat-label>
        <input type="text" matInput formControlName="fullname" placeholder="Ex. Ivan Ivanov" />
        <mat-error *ngIf="editedForm.get('fullname')">
          Name is <strong>requiered</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <!-- username -->
      <mat-form-field class="field-wrapper">
        <mat-label>Username</mat-label>
        <input type="text" matInput formControlName="username" />
        <mat-error *ngIf="editedForm.get('username')">
          Please enter a valid username
        </mat-error>
        <mat-error *ngIf="editedForm.get('username')">
          Username <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <!-- email -->
      <mat-form-field class="field-wrapper">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email" placeholder="Ex. email@gmail.com" />
        <mat-error *ngIf="editedForm.get('email') && !editedForm.get('email')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="editedForm.get('email')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>
      <br>
      <div class="buttons-group">
        <button [disabled]="!editedForm.valid" mat-flat-button color="primary" type="submit"
          class="sub-button">Submit</button>
      </div>
      <ng-template [ngIf]="isEdited">
        <span>Form submit succesfully</span>
      </ng-template>
    </form>
  </mat-card>
</div>