<section [class.open]="display === 'open'" (click)="close()">
  <!-- modal background with mode trigger -->
  <mat-card class="form-container" (click)="$event.stopPropagation()">
    <!-- material card wrapper with stop event listener -->
    <button class="close-btn" mat-icon-button (click)="close()">
      <mat-icon>close</mat-icon>
    </button> <!-- close modal button -->
    <mat-card-title>Create Post</mat-card-title>
    <mat-card-content>
      <form [formGroup]="postForm" (submit)="onSubmit()">
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title" placeholder="Title" />
            <mat-error *ngIf="postForm.controls.post">Post Title Required</mat-error>
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Content</mat-label>
            <textarea matInput rows="4" formControlName="content" placeholder="Content"></textarea>
          </mat-form-field>
        </div>
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Author</mat-label>
            <input *ngIf="authority === 'admin'; else author" matInput type="text" formControlName="username" placeholder="Author"/>
            <ng-template #author>
              <input matInput disabled value="{{authority}}"/>
            </ng-template>
          </mat-form-field>
        </div>
        <div class="form-field">
          <button mat-raised-button color="primary" class="submit-btn" type="submit" [disabled]="!postForm.valid">Submit</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</section>