<section class="container" [class.open]="display === 'open'" (click)="close()">
  <mat-card class="form-container" (click)="$event.stopPropagation()">
    <button class="close-btn" mat-icon-button (click)="close()"><mat-icon>close</mat-icon></button> <!-- close modal button -->
    <mat-card-title>Create Post</mat-card-title>
    <mat-card-content class="NgxEditor__Wrapper">
      <form [formGroup]="postForm" (submit)="onSubmit()">
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Title</mat-label>
            <input matInput type="text" formControlName="title" placeholder="Title" />
            <mat-error *ngIf="postForm.controls.post">Post Title Required</mat-error>
          </mat-form-field>
        </div>
        <div class="form-field">
          <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
          <ngx-editor 
          formControlName="content" 
          [editor]="editor" 
          [editable]="true" 
          [placeholder]="'Type here...'">
          </ngx-editor>
        </div>
        <div class="form-field">
          <mat-form-field appearance="outline">
            <mat-label>Author</mat-label>
            <input *ngIf="authority === 'admin'; else author" matInput type="text" formControlName="username" placeholder="Author"  [matAutocomplete]="auto"/>
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option *ngFor="let user of users" [value]="user.username">
                {{ user.username }}
              </mat-option>
            </mat-autocomplete>
            <ng-template #author>
              <input matInput disabled value="{{ authority }}" />
            </ng-template>
          </mat-form-field>
        </div>
        <div class="form-field">
          <button mat-raised-button color="primary" class="submit-btn" type="submit" [disabled]="!postForm.valid">Submit</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</section>