.user-label {
  font-size: .9rem;
  font-weight: 200;
}
.sidenav-container {
  height: 100vh;
}
.sidenav {
  width: 250px;
  background-color: blueviolet;
}
.main-content {
  padding: 20px;
}
.search-list-container {
  margin-top: 40px;
}
.search-input {
  width: 90%;
  padding: 10px;
}