.header {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}
.user-label {
  font-size: .9rem;
  font-weight: 200;
}
.sidenav-container {
  height: 100vh;
}
.sidenav {
  position: fixed;
  top: 55px;
  width: 250px;
}
.main-content {
  padding: 0 40px;
}
.search-list-container {
  margin-top: 20px;
}
.search-list {
  width: 100%;
}
.search-input {
  width: 90%;
  padding: 10px;
}
.btn-btn {
  width: 100%;
  text-align: left;
}
.btn-label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}