<mat-toolbar class="header" color="primary">
  <button style="font-size: 1.1rem;" mat-button routerLink="">My Portfolio</button>
  <span class="spacer"></span>
  <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
</mat-toolbar>
<mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #sidenav mode="side" position="end" closed class="sidenav">
    <div class="search-list-container">
      <mat-form-field class="search-input">
        <mat-label>Search</mat-label>
        <input matInput />
      </mat-form-field>
      <div class="search-list">
        <mat-list #cityList>
          <mat-list-item>
            <button class="btn-btn" mat-button routerLink="home" (click)="sidenav.close()">Home</button>
          </mat-list-item>
          <mat-list-item *ngIf="authority">
            <button class="btn-btn" mat-button routerLink="posts" (click)="sidenav.close()">Posts</button>
          </mat-list-item>
          <mat-list-item *ngIf="authority">
            <button class="btn-btn" mat-button routerLink="post" (click)="sidenav.close()">Create post</button>
          </mat-list-item>
          <mat-list-item *ngIf="authority === 'admin'">
            <button class="btn-btn" mat-button routerLink="admin" (click)="sidenav.close()">Admin</button>
          </mat-list-item>
          <mat-list-item *ngIf="authority === 'mod'">
            <button class="btn-btn" mat-button routerLink="mod" (click)="sidenav.close()">Moderator</button>
          </mat-list-item>
          <mat-list-item *ngIf="authority === 'user'">
            <button class="btn-btn" mat-button routerLink="user" (click)="sidenav.close()">User</button>
          </mat-list-item>
          <hr style="margin-bottom: 50px;">
          <mat-list-item *ngIf="!authority; else out;">
            <button class="btn-btn" mat-button (click)="login(); sidenav.close();">
              <span class="btn-label">Login<mat-icon>login</mat-icon></span>
            </button>
          </mat-list-item>
          <ng-template #out>
            <mat-list-item>
              <button class="btn-btn" mat-button (click)="exit(); sidenav.close();">
                <span class="btn-label"><span>Logout  <small>{{ username }}</small></span><mat-icon>logout</mat-icon></span>
              </button>
            </mat-list-item>
          </ng-template>
          <mat-list-item>
            <button class="btn-btn" mat-button (click)="register(); sidenav.close();">
              <span class="btn-label">Register<mat-icon>person_add</mat-icon></span>
            </button>
          </mat-list-item>
        </mat-list>
      </div>
    </div>  
  </mat-drawer>
  <mat-drawer-content>
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>