<div class="todo-container">
  <mat-card class="todo-items">
    <mat-card-title class="todos-title">
      <span class="spacer"></span>
      <button class="add-btn" mat-icon-button color="accent" matTooltip="Add Todo" matTooltipPosition="before" matTooltipClass="tooltip-options" (click)="add()"><mat-icon>add</mat-icon></button>
    </mat-card-title>
    <mat-card-content class="todo-item" *ngFor="let todo of dataSource">
        <input type="checkbox" color="primary" class="btn-check" (change)="onChange(todo.id ?? '')" [checked]="todo.completed ?? false" />
        <span class="item-text">{{ todo.description }}</span>
        <span class="spacer"></span>
        <span matTooltip="Modified: {{ (todo.modified ?? 0) * 1000 | date }}" matTooltipPosition="after" matTooltipClass="tooltip-options" class="item-text">{{ (todo.created ?? 0) * 1000 | date }}</span>
        <span class="btn-group">
          <button mat-icon-button color="accent" matTooltip="Edit Todo" matTooltipPosition="after" matTooltipClass="tooltip-options" (click)="edit(todo)"><mat-icon>edit</mat-icon></button>
          <button mat-icon-button color="warn" matTooltip="Delete Todo" matTooltipPosition="after" matTooltipClass="tooltip-options" (click)="delete(todo.id ?? '')"><mat-icon>delete</mat-icon></button>
        </span>
    </mat-card-content>
  </mat-card>
  </div>