<section class="container">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z2" aria-hidden="true">

    <ng-container [matColumnDef]="col" *ngFor="let col of displayedColumns">
      <th mat-header-cell *matHeaderCellDef scope="col"><span>{{ col | uppercase }}</span></th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="col !== 'created' && col !== 'modified' && col !== 'completed'; else date">{{ element[col] }}</span>
        <span *ngIf="col === 'completed'" style="padding-left: 2em;">
          <mat-checkbox (change)="onChange(element.id)"></mat-checkbox>
        </span>
        <ng-template #date><span *ngIf="col !== 'completed'">{{ element[col] | date }}</span></ng-template>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</section>