<div *ngIf="isLoggedIn">
  Logged in as {{roles}}.
</div>

<div class="container" [class.open]="display === 'open'" (click)="close()">
  <mat-card class="card-wrapper" (click)="$event.stopPropagation()">
    <mat-card-title class="form-title">Login Form</mat-card-title>
    <mat-card-content>
    <form [formGroup]="loginForm" (ngSubmit)="clickLogin()" autocomplete="off">
      <mat-form-field class="field-wrapper">
        <mat-label>Username:</mat-label>
        <input matInput type="text" formControlName="username" />
        <mat-error *ngIf="loginForm.get('username')">Invalid username</mat-error>
      </mat-form-field>
      <mat-form-field class="field-wrapper">
        <mat-label>Password:</mat-label>
        <input matInput type="password" formControlName="password" />
        <mat-error *ngIf="loginForm.get('password')">Invalid password</mat-error>
      </mat-form-field>
      <div class="buttons-group">
        <button mat-raised-button type="submit" class="sub-button" color="primary" [disabled]="!loginForm.valid">Login</button>
        <button mat-raised-button type="button" class="sub-button" (click)="clickRegister()">Register</button>
        <button mat-raised-button type="button" class="sub-button" color="warn" (click)="close()">Cancel</button>
      </div>
    </form>
  </mat-card-content>
  </mat-card>
</div>
