.container {
  padding: 20px;
  padding-top: 5rem;
}
.card-wrapper {
  max-width: 40em;
  margin: auto;
}
.form-title {
  margin-left: 5%;
  margin-bottom: 2rem;
}
.field-wrapper {
  min-width: 90%;
  padding: 0 5%;
}

.buttons-group {
  min-width: 50%;
  margin: 1rem 30%;
}
.sub-button {
  padding: 0 40px;
  margin-right: 1rem;
}